{% load i18n ui %}
{# Context: c (Country) #}
<a class="dest-card" href="{{ c.get_absolute_url }}">
  {% flag c.iso2 size=34 cls="flag-lg" %}
  <span>
    <span class="name">{{ c.name }}</span>
    <span class="from">
      {% if c.min_price_usd %}{% trans "from" %} <b>{{ c.min_price_usd|usd }}</b>{% else %}{% trans "View plans" %}{% endif %}
      {% if c.has_unlimited %} &middot; {% trans "unlimited" %}{% endif %}
    </span>
  </span>
  <span class="arrow">{% icon "arrow-right" size=18 %}</span>
</a>
